http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/h9gi-nx95.json?%24limit=2&%24order=crash_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY3NV80MzNfODA3MTBuQWxHSldaaEN6V08xRmxldDJyTFluZGtYTG8---gzipT3BrcA-xomp7H6cOMQcMq0yx9AQ--gzip--gzip"'
      x-soda2-fields: '["crash_date","crash_time","borough","zip_code","latitude","longitude","location","on_street_name","off_street_name","cross_street_name","number_of_persons_injured","number_of_persons_killed","number_of_pedestrians_injured","number_of_pedestrians_killed","number_of_cyclist_injured","number_of_cyclist_killed","number_of_motorist_injured","number_of_motorist_killed","contributing_factor_vehicle_1","contributing_factor_vehicle_2","contributing_factor_vehicle_3","contributing_factor_vehicle_4","contributing_factor_vehicle_5","collision_id","vehicle_type_code1","vehicle_type_code2","vehicle_type_code_3","vehicle_type_code_4","vehicle_type_code_5"]'
      x-soda2-types: '["floating_timestamp","text","text","text","number","number","location","text","text","text","number","number","number","number","number","number","number","number","text","text","text","text","text","number","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Fri, 23 Jan 2026 23:54:14 GMT
      x-soda2-secondary-last-modified: Fri, 23 Jan 2026 23:54:14 GMT
      last-modified: Fri, 23 Jan 2026 23:54:14 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 7887783beaf878b87b49104e491cb18f
    body:
      string: |
        [{"crash_date":"2026-01-20T00:00:00.000","crash_time":"8:30","borough":"QUEENS","zip_code":"11433","latitude":"40.70197","longitude":"-73.801895","location":{"latitude":"40.70197","longitude":"-73.801895","human_address":"{\"address\": \"\", \"city\": \"\", \"state\": \"\", \"zip\": \"\"}"},"on_street_name":"ARCHER AVE","off_street_name":"153 ST","number_of_persons_injured":"0","number_of_persons_killed":"0","number_of_pedestrians_injured":"0","number_of_pedestrians_killed":"0","number_of_cyclist_injured":"0","number_of_cyclist_killed":"0","number_of_motorist_injured":"0","number_of_motorist_killed":"0","contributing_factor_vehicle_1":"Unspecified","contributing_factor_vehicle_2":"Unspecified","collision_id":"4873060","vehicle_type_code1":"Bus","vehicle_type_code2":"Sedan"}
        ,{"crash_date":"2026-01-20T00:00:00.000","crash_time":"15:04","borough":"QUEENS","zip_code":"11357","latitude":"40.786755","longitude":"-73.82384","location":{"latitude":"40.786755","longitude":"-73.82384","human_address":"{\"address\": \"\", \"city\": \"\", \"state\": \"\", \"zip\": \"\"}"},"on_street_name":"14 AVENUE","off_street_name":"WHITESTONE EXPRESSWAY NB ET 16","number_of_persons_injured":"0","number_of_persons_killed":"0","number_of_pedestrians_injured":"0","number_of_pedestrians_killed":"0","number_of_cyclist_injured":"0","number_of_cyclist_killed":"0","number_of_motorist_injured":"0","number_of_motorist_killed":"0","contributing_factor_vehicle_1":"Driver Inattention/Distraction","contributing_factor_vehicle_2":"Unspecified","collision_id":"4873012","vehicle_type_code1":"Sedan","vehicle_type_code2":"Sedan"}]
  recorded_at: 2026-01-26 22:18:33
recorded_with: VCR-vcr/2.1.0
