http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/erm2-nwe9.json?%24limit=2&%24order=created_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY1NV8xODNfMTkwMDE0N3c2RWlucUctVW1zd2NwTUdpQWJkUV9qa01B---gzipmYa-MBhLqecD9gdL2GVEirBnWME--gzip--gzip"'
      x-soda2-fields: '["unique_key","created_date","closed_date","agency","agency_name","complaint_type","descriptor","descriptor_2","location_type","incident_zip","incident_address","street_name","cross_street_1","cross_street_2","intersection_street_1","intersection_street_2","address_type","city","landmark","facility_type","status","due_date","resolution_description","resolution_action_updated_date","community_board","council_district","police_precinct","bbl","borough","x_coordinate_state_plane","y_coordinate_state_plane","open_data_channel_type","park_facility_name","park_borough","vehicle_type","taxi_company_borough","taxi_pick_up_location","bridge_highway_name","bridge_highway_direction","road_ramp","bridge_highway_segment","latitude","longitude","location"]'
      x-soda2-types: '["text","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","text","floating_timestamp","text","floating_timestamp","text","text","text","text","text","number","number","text","text","text","text","text","text","text","text","text","text","number","number","point"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Sat, 24 Jan 2026 02:32:59 GMT
      x-soda2-secondary-last-modified: Sat, 24 Jan 2026 02:32:59 GMT
      last-modified: Sat, 24 Jan 2026 02:32:59 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: be9e8d7f1e89413f11956592d478854d
    body:
      string: |
        [{"unique_key":"67572042","created_date":"2026-01-23T02:20:59.000","agency":"NYPD","agency_name":"New York City Police Department","complaint_type":"Noise - Residential","descriptor":"Loud Music/Party","location_type":"Residential Building/House","incident_zip":"10462","incident_address":"2162 BARNES AVENUE","street_name":"BARNES AVENUE","cross_street_1":"LYDIG AVENUE","cross_street_2":"PELHAM PARKWAY SOUTH","intersection_street_1":"LYDIG AVENUE","intersection_street_2":"PELHAM PARKWAY SOUTH","address_type":"ADDRESS","city":"BRONX","landmark":"BARNES AVENUE","status":"In Progress","community_board":"11 BRONX","council_district":"13","police_precinct":"Precinct 49","bbl":"2043220018","borough":"BRONX","x_coordinate_state_plane":"1021920","y_coordinate_state_plane":"250990","open_data_channel_type":"ONLINE","park_facility_name":"Unspecified","park_borough":"BRONX","latitude":"40.85550408121731","longitude":"-73.86382726823307","location":{"type":"Point","coordinates":[-73.863827268233,40.855504081217]}}
        ,{"unique_key":"67573444","created_date":"2026-01-23T02:20:43.000","agency":"NYPD","agency_name":"New York City Police Department","complaint_type":"Noise - Residential","descriptor":"Banging/Pounding","location_type":"Residential Building/House","incident_zip":"10032","incident_address":"664 WEST 163 STREET","street_name":"WEST 163 STREET","cross_street_1":"FORT WASHINGTON AVENUE","cross_street_2":"RIVERSIDE DRIVE","intersection_street_1":"FORT WASHINGTON AVENUE","intersection_street_2":"RIVERSIDE DRIVE","address_type":"ADDRESS","city":"NEW YORK","landmark":"WEST 163 STREET","status":"In Progress","community_board":"12 MANHATTAN","council_district":"07","police_precinct":"Precinct 33","bbl":"1021360220","borough":"MANHATTAN","x_coordinate_state_plane":"999572","y_coordinate_state_plane":"244892","open_data_channel_type":"ONLINE","park_facility_name":"Unspecified","park_borough":"MANHATTAN","latitude":"40.8388339391976","longitude":"-73.9446266237212","location":{"type":"Point","coordinates":[-73.944626623721,40.838833939198]}}]
  recorded_at: 2026-01-25 00:17:09
recorded_with: VCR-vcr/2.1.0
