http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/k46n-sa2m.json?%24limit=2&%24order=date_of_census+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNTY2N184XzMxODlxVWk1dGVtZVJYYTU3XzhfOVZkSkdQM0FFanc---gzioQQC49MSRqEvf4Asw29i9NJ9m2UA--gzip--gzip"'
      x-soda2-fields: '["date_of_census","total_adults_in_shelter","total_children_in_shelter","total_individuals_in_shelter","single_adult_men_in_shelter","single_adult_women_in_shelter","total_single_adults_in_shelter","families_with_children_in_shelter","adults_in_families_with_children_in_shelter","children_in_families_with_children_in_shelter","total_individuals_in_families_with_children_in_shelter_","adult_families_in_shelter","individuals_in_adult_families_in_shelter"]'
      x-soda2-types: '["floating_timestamp","number","number","number","number","number","number","number","number","number","number","number","number"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Mon, 26 Jan 2026 20:00:11 GMT
      x-soda2-secondary-last-modified: Mon, 26 Jan 2026 20:00:11 GMT
      last-modified: Mon, 26 Jan 2026 20:00:11 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 18d16d63c70fa3091649e9d2d0c65360
    body:
      string: |
        [{"date_of_census":"2026-01-25T00:00:00.000","total_adults_in_shelter":"56192","total_children_in_shelter":"30561","total_individuals_in_shelter":"86753","single_adult_men_in_shelter":"18092","single_adult_women_in_shelter":"6974","total_single_adults_in_shelter":"25066","families_with_children_in_shelter":"17622","adults_in_families_with_children_in_shelter":"26221","children_in_families_with_children_in_shelter":"30561","total_individuals_in_families_with_children_in_shelter_":"56782","adult_families_in_shelter":"2255","individuals_in_adult_families_in_shelter":"4905"}
        ,{"date_of_census":"2026-01-24T00:00:00.000","total_adults_in_shelter":"56176","total_children_in_shelter":"30496","total_individuals_in_shelter":"86672","single_adult_men_in_shelter":"18124","single_adult_women_in_shelter":"7000","total_single_adults_in_shelter":"25124","families_with_children_in_shelter":"17582","adults_in_families_with_children_in_shelter":"26169","children_in_families_with_children_in_shelter":"30496","total_individuals_in_families_with_children_in_shelter_":"56665","adult_families_in_shelter":"2245","individuals_in_adult_families_in_shelter":"4883"}]
  recorded_at: 2026-01-26 20:59:34
recorded_with: VCR-vcr/2.1.0
