http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/rhe8-mgbb.json?%24limit=2&%24order=last_updated_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zMzkxMl84MTBfNTUwNU4tSjVZLXlUcWxHVkI0cWNraDlQSlc0enkwNA---gzin0xmVD0NiDDy_zVyWmx8A87Adwi--gzip--gzip"'
      x-soda2-fields: '["license_number","name","type","current_status","dmv_license_plate_number","vehicle_vin_number","vehicle_type","model_year","medallion_type","agent_number","agent_name","agent_telephone_number","agent_website_address","agent_address","last_updated_date","last_updated_time"]'
      x-soda2-types: '["text","text","text","text","text","text","text","text","text","text","text","text","text","text","floating_timestamp","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Mon, 26 Jan 2026 19:46:38 GMT
      x-soda2-secondary-last-modified: Mon, 26 Jan 2026 19:46:38 GMT
      last-modified: Mon, 26 Jan 2026 19:46:38 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 40069bd245db36f618219ec28d343883
    body:
      string: |
        [{"license_number":"8L13","name":"H & S TRANS USA INC.","type":"05/31/2027","current_status":"CUR","dmv_license_plate_number":"Y204760C","vehicle_vin_number":"5TDKRKEC9NS128805","vehicle_type":"WAV","model_year":"2022","medallion_type":"NAMED DRIVER","last_updated_date":"2026-01-26T00:00:00.000","last_updated_time":"13:20"}
        ,{"license_number":"5H72","name":"REIGER TAXI 21 LLC","type":"05/31/2026","current_status":"CUR","dmv_license_plate_number":"Y201147C","vehicle_vin_number":"4T3LWRFV3MU013037","vehicle_type":"HYB","model_year":"2021","medallion_type":"NAMED DRIVER","agent_number":"354","agent_name":"SEPTUAGINT SOLUTIONS LLC.","agent_telephone_number":"(212)222-8234","agent_address":"30-17   40 AVENUE LIC NY 11101","last_updated_date":"2026-01-26T00:00:00.000","last_updated_time":"13:20"}]
  recorded_at: 2026-01-26 20:59:36
recorded_with: VCR-vcr/2.1.0
