http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/jb7j-dtam.json?%24limit=2&%24order=year+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4xNjMxMl8zXzcwd3FvVVRKb1M4OEJNSXlsQXIyaXQ0bTNXYUpn---gzipF4tiaFSUT8YwyQYcDXOQdFi_-pI--gzip--gzip"'
      x-soda2-fields: '["year","leading_cause","sex","race_ethnicity","deaths","death_rate","age_adjusted_death_rate"]'
      x-soda2-types: '["text","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Mon, 08 Dec 2025 20:32:52 GMT
      x-soda2-secondary-last-modified: Mon, 08 Dec 2025 20:32:52 GMT
      last-modified: Mon, 08 Dec 2025 20:32:52 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: ba5cf8398378c17c67fae222577a7cc8
    body:
      string: |
        [{"year":"2014","leading_cause":"Influenza (Flu) and Pneumonia (J09-J18)","sex":"M","race_ethnicity":"Not Stated/Unknown","deaths":"14","death_rate":".","age_adjusted_death_rate":"."}
        ,{"year":"2014","leading_cause":"Essential Hypertension and Renal Diseases (I10, I12)","sex":"F","race_ethnicity":"Other Race/ Ethnicity","deaths":".","death_rate":".","age_adjusted_death_rate":"."}]
  recorded_at: 2026-01-26 20:59:33
recorded_with: VCR-vcr/2.1.0
