http_interactions:
- request:
    method: GET
    uri: https://data.cityofnewyork.us/resource/dg92-zbpx.json?%24limit=2&%24order=start_date+DESC
  response:
    status: 200
    headers:
      content-type: application/json;charset=utf-8
      etag: '"Zm94dHJvdC4zMzgxNV8xNV80NzU4Sk9rVDFhR29mM2VHdENGZ081dXFpRzZGVEJF---gzipRXg31_oTAtnbSBKM5t6itIPpZ4o--gzip--gzip"'
      x-soda2-fields: '["request_id","start_date","end_date","agency_name","type_of_notice_description","category_description","short_title","selection_method_description","section_name","special_case_reason_description","pin","due_date","address_to_request","contact_name","contact_phone","email","contract_amount","contact_fax","additional_description_1","additional_description_2","additional_description_3","other_info_1","other_info_2","other_info_3","vendor_name","vendor_address","printout_1","printout_2","printout_3","document_links","event_date","building_name","street_address_1","street_address_2","city","state","zip_code"]'
      x-soda2-types: '["number","floating_timestamp","floating_timestamp","text","text","text","text","text","text","text","text","floating_timestamp","text","text","text","text","number","text","text","text","text","text","text","text","text","text","text","text","text","url","floating_timestamp","text","text","text","text","text","text"]'
      x-soda2-data-out-of-date: 'false'
      x-soda2-truth-last-modified: Sat, 24 Jan 2026 13:28:05 GMT
      x-soda2-secondary-last-modified: Sat, 24 Jan 2026 13:28:05 GMT
      last-modified: Sat, 24 Jan 2026 13:28:05 GMT
      x-socrata-region: aws-us-east-1-fedramp-prod
      x-socrata-requestid: 2fb6300a5a490680c7b5680ffb9b485b
    body:
      string: |
        [{"request_id":"20260116008","start_date":"2026-01-23T00:00:00.000","end_date":"2026-01-23T00:00:00.000","agency_name":"Education","type_of_notice_description":"Award","category_description":"Services (other than human services)","short_title":"B3275 - Assessments for Special Education","selection_method_description":"Renewal","section_name":"Procurement","pin":"04021B0003020R001","contact_name":"Angela Edwards","contact_phone":"(718) 935-2095","email":"aedwards@schools.nyc.gov","contract_amount":"25916","vendor_name":"Legendary Speech Pathology PLLC","vendor_address":"997 Stafford Avenue"}
        ,{"request_id":"20260121002","start_date":"2026-01-23T00:00:00.000","end_date":"2026-01-23T00:00:00.000","agency_name":"Housing Authority","type_of_notice_description":"Notice","short_title":"NOTICE OF INTENT TO PROCURE PLUMBING AND RELATED RESIDENTAL BUILDING RENOVATIONS AT NYCHA\u001aS HOUSING DEVELOPMENTS","section_name":"Special Materials","additional_description_1":"<p style='text-align:center'><u>NOTICE OF INTENT TO PROCURE PLUMBING AND RELATED RESIDENTAL BUILDING RENOVATIONS AT NYCHA\u001aS HOUSING DEVELOPMENTS</u></p><p>The New York City Housing Authority (\u001aNYCHA\u001a), through its Comprehensive Modernization Department, intends to initiate a competitive, two-step procurement process for design-build services at housing developments in Northern Manhattan.</p><p>The project scope includes work at one 17-story building and one 20-story building (152 and 160 dwelling units, respectively), which are part of a larger multi-building campus. Anticipated work may include, but is not limited to: (i) plumbing and waste line replacement; (ii) repairs to gas risers, kitchens, bathrooms, and impacted electrical systems; and (iii) related services, including asbestos and lead abatement and temporary resident relocation. The project rough order of magnitude (ROM) is $28 million to $33 million.</p><p><br>NYCHA seeks integrated design-build teams capable of delivering end-to-end services, including design, hazardous material abatement, construction, resident engagement, and relocation services. This project aligns with NYCHA\u001as Comprehensive Modernization framework and the Waste Plumbing Initiative, funded by the City of New York, and is intended to address persistent leaks, mold, and related conditions caused by deteriorated plumbing systems, thereby improving residents\u001a quality of life[...]
