on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

name: pkgdown

jobs:
  pkgdown:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install dependencies
        run: |
          R -e 'install.packages("pkgdown")'
          R -e 'install.packages(c("devtools", "remotes"))'
          R -e 'remotes::install_deps(dependencies = TRUE)'

      - name: Build site
        run: |
          R -e 'pkgdown::build_site()'

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
